@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans+Condensed:wght@300&family=Stick&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #fdfaf6;
    font-family: 'montserrat', sans-serif;
    color: #064420;
}

h1 {
    font-family: 'stick', sans-serif;
    margin-left: 20px;
}

h2, h3 {
    text-align: center;
    color: #064420;
}

img {
    width: 100%;
}

p {
    font-family: 'open sans condensed', sans-serif;
    line-height: 2;
    font-size: large;
    text-align: left;
    color: #064420;
}

.navbar {
    background-color: #;
    max-width: 1000px;
    margin: -10px auto;
}

.navbar ul {
    display: flex;
    list-style-type: none;
    padding: 20px;
}

.grid img {
    height: 400px;
    border-radius: 10px;
}

.navbar a {
    text-decoration: none;
    margin: 20px;
    color: #064420;
}

.grid p {
    padding: 0 40px;
}

.grid h2 {
    margin-top: 30px;
}

.card {
    width: 60%;
    background-color: #e4efe7;
    border-radius: 10px;
    box-shadow: 2px 2px 2px darkgray;
}

.grid .card {
    position: relative;
    left: 150px;
    top: 60px;
}

.float {
    width: 25rem;
    margin-top: 20px;
}
img.float {
    border-radius: 10px;
}

.container .float {
    margin-bottom: 5rem;
}

.footer img {
    width: 25px;
    border-radius: 10px;
}

.contactme ul {
    display: flex;
    margin: 20px;
    list-style-type: none;
}

.contactme a {
    color: #064420;
    margin: 20px 20px;
    text-decoration: none;
    font-family: 'stick', sans-serif;
    font-size: 1.2rem;
}

.contactme {
    display: flex;
    margin: 0 20px;
    justify-content: space-evenly;
}

.center {
    text-align: center;
}

a:hover {
    
    border-bottom: 3px solid #fad586  ;
}
/* utilities */
.container {
    max-width: 1000px;
    margin: 0 auto;
}
.flex {
    display: flex;
    justify-content: space-evenly;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 30px;
    margin-top: 40px;
    position: relative;
    background-color: #faf1e6;
    height: 400px;
    border-radius: 10px;
}

.footer {
    background-color: #f0cda3;
    color: #064420;
    margin-bottom: -10px;
    position: relative;
    bottom: 0;
    border-radius: 0 20px;
}



/* Media Queries */
@media only screen and (max-width: 200px) {
    .navbar .flex {
        max-width: 100%;
        display: flex;
        flex-direction: column;
    }

    h1 {
        margin-top: 5px;
        margin-bottom: 0;
    }

    nav ul {
        margin-top: 0;
        margin-bottom: 0;
    }
    .container .flex600 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 20px 0;
        
    }
    .flex600 {
        height: auto;
        background: none;
    }
    
    div .card {
        width: 100%;
        margin-left: -150px;
        margin-top: -90px;
        background-color: #fad5863f;
    }
    .float {
        margin-top: 100px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    img {
        width: 80%;
        display: block;
        margin: 10px auto;
    }

    .container  {
        width: 90%; 
    }

    .contactme ul {
    margin: 20px auto;
    }

    .contactme a {
    font-size: 1rem;
    margin: 20px 10px;
    text-decoration: none;
    color: #064420;
    }

    .footer {
        width: 100%;
        height: 100px;
        border-radius: 0 10px;
    }

}
    
